<!DOCTYPE html>
{% extends "admin/base_site.html" %}
{% load i18n static %}


<body id="kt_body"
      class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">


{% block extrastyle %}{{ block.super }}
    <div class="d-flex flex-column flex-root">

    <link rel="stylesheet" type="text/css" href="{% static "css/pages/login/login-1.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    {#    <link href="{% static "css/pages/login/classic/login-3.css" %}" rel="stylesheet" type="text/css"/>#}
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static "plugins/global/plugins.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/custom/prismjs/prismjs.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="{% static "css/themes/layout/header/base/light.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/header/menu/light.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/brand/dark.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/aside/dark.css" %}" rel="stylesheet" type="text/css"/>
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="{% static "media/logos/favicon.ico" %}"/>
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}

{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}
                {% translate "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
        <div class="login-aside d-flex flex-row-auto px-lg-0 px-5 pb-sm-40 pb-lg-40 flex-grow-1"
             style="background-repeat:no-repeat;background-position: bottom;background-image: url('{% static "media/svg/illustrations/login-visual-1.svg" %}')">

            <div class="d-flex flex-row-fluid flex-column mt-lg-30 mb-lg-0 pb-lg-0 mb-20 pb-40 mt-0 pt-15">
                <a href="#" class="text-center mb-10">
                    <img src="{% static "media/logos/logo-letter-1.png" %}" class="max-h-70px" alt=""/>
                </a>

            </div>
        </div>
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 ml-auto mr-auto">
            <div class="d-flex flex-column-fluid flex-center mt-6 mt-lg-0">
                <div class="login-form login-signin">

                    {% if user.is_authenticated %}
                        <p class="errornote">
                            {% blocktranslate trimmed %}
                                You are authenticated as {{ username }}, but are not authorized to
                                access this page. Would you like to login to a different account?
                            {% endblocktranslate %}
                        </p>
                    {% endif %}

                    <form class="form" action="{{ app_path }}" method="post" id="kt_login_signin_form">
                        {% csrf_token %}
                        <div class="pt-lg-40 mt-lg-10 pb-15">
                            <h3 class="font-weight-bolder text-dark display5">Welcome to Admin Panel</h3>
                        </div>
                        <div class="form-group">
                            {{ form.username.errors }}
                            <label for="id_username" class="font-size-h6 font-weight-bolder text-dark">Username</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" name="username"
                                                                    autofocus autocapitalize="none"
                                                                    autocomplete="username" maxlength="150" required id="id_username"
                            />

                            {{ form.password.errors }}
                            <label for="id_password" class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                            <input type="password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                                                                    name="password"
                                                                    autocomplete="current-password" required id="id_password"/>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                            {% url 'admin_password_reset' as password_reset_url %}
                            {% if password_reset_url %}
                                <div class="password-reset-link">
                                    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                                </div>
                            {% endif %}
                            <div class="form-group text-center mt-10">
                                <input id="kt_login_signin_submit"
                                       class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                                       type="submit" value="{% translate 'Log in' %}">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>

{% endblock %}
