<!DOCTYPE html>
{% extends "admin/base_site.html" %}
{% load i18n static %}


<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed
    aside-minimize-hoverable page-loading" >

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/pages/login/classic/login-3.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    {#    <link href="{% static "css/pages/login/classic/login-3.css" %}" rel="stylesheet" type="text/css"/>#}
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static "plugins/global/plugins.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "plugins/custom/prismjs/prismjs.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style.bundle.css" %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="{% static "css/themes/layout/header/base/light.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/header/menu/light.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/brand/dark.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/themes/layout/aside/dark.css" %}" rel="stylesheet" type="text/css"/>
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="{% static "media/logos/favicon.ico" %}"/>
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}
                {% translate "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <div class="d-flex flex-column flex-root" style="background-image: url('{% static "/media/bg/bg-2.jpg" %}')">
        <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid"
                 >
                <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="{% static "media/logos/logo-letter-13.png" %}" class="max-h-75px" alt=""/>
                        </a>
                    </div>
                    <div id="login-signin">
                        <div class="mb-20">
                            <h3 class="opacity-40 font-weight-normal">Sign In To Admin</h3>
                            <p class="opacity-40">Enter your details to login to your account:</p>
                        </div>

                        {% if user.is_authenticated %}
                            <p class="errornote">
                                {% blocktranslate trimmed %}
                                    You are authenticated as {{ username }}, but are not authorized to
                                    access this page. Would you like to login to a different account?
                                {% endblocktranslate %}
                            </p>
                        {% endif %}

                        <form class="form" action="{{ app_path }}" method="post" id="kt_login_signin_form">
                        {% csrf_token %}
                        <div class="form-group form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8">
                            {{ form.username.errors }}
                            {{ form.username.label_tag }} {{ form.username }}
                        </div>
                        <div class="form-group form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }} {{ form.password }}
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        {% url 'admin_password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                            <div class="password-reset-link">
                                <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                            </div>
                        {% endif %}
                        <div class="form-group text-center mt-10">
                            <input id="kt_login_signin_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3"
                                   type="submit" value="{% translate 'Log in' %}">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}
